html , body {
    margin: 0;
    overflow: hidden;
}

/* FUENTES DE LA PAGINA WEB */


@font-face {
    font-family: "MyriadPro-Light";
    src: url(../font/MyriadPro-Light.otf) format(truetype);

}

@font-face {
    font-family: "MyriadPro-REGULAR";
    src: url(../font/MYRIADPRO-REGULAR.OTF) format(truetype);

}


/* FONDOS DE LAS PRIMERAS TRANSICIONES DE LAS PAGINAS 1,2,3,4,6 */

body {
    background: url('../img/fondo.png');
    background-color: black;
    background-repeat: no-repeat;

    background-size: 100% 135%;
    background-position: 60% 32%;

    padding: 0;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

}

/*_-------------------------------------------------------------_*/


/* 1- SECCION ----- PANEL PRINCIPAL - INGRESO */


/* Fondo BLanco */

.seccion2_Bienvenido {

    background-color: white;
    box-shadow: 0 4px 10px rgba(233, 233, 233, 0.2);

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;    

    width: 35%;
    height: 45%;
    
    border-radius: 36px;

    overflow: auto;

    animation: blink2 1s ease-in-out forwards;
    animation-delay: 3s;
}

/* Imagen del logo */

.logo {
    width: 18%;
    height: 18%;
    margin-top: 0;
}



/* -- TEXTOS DE BIENVENIDA  ---- */


.texto1 {
    margin-top: 1%;

    font-family: "MyriadPro-REGULAR";
    font-size: 19px;

    margin-top: 1%;
    text-align: center;
}

.texto2 {
    margin-top: 1%;

    font-family: "MyriadPro-REGULAR";
    font-size:larger;

    margin-top: 2%;
    text-align: center;
}


.texto3 {
    margin-top: 1%;

    font-family: "MyriadPro-REGULAR";
    font-size:xx-small;

    margin-top: -2%;
    text-align: center;

    color: #707070;


}
