html , body {
    margin: 0;
    overflow: hidden;
}

/* FUENTES DE LA PAGINA WEB */


@font-face {
    font-family: "MyriadPro-Light";
    src: url(../font/MyriadPro-Light.otf) format(truetype);

}

@font-face {
    font-family: "MyriadPro-REGULAR";
    src: url(../font/MYRIADPRO-REGULAR.OTF) format(truetype);

}


/* FONDOS DE LAS PRIMERAS TRANSICIONES DE LAS PAGINAS 1,2,3,4 */

body {
    background: url('../img/fondo.png');
    background-color: black;
    background-repeat: no-repeat;

    background-size: 100% 135%;
    background-position: 60% 32%;

    padding: 0;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

}


.vector {
    position: fixed;

    top: 35%;
    left: 44%;
    width: 10vw;
    height: 10vw;
    
    animation: blink 1.6s ease-in-out 2 forwards;
}


/*  ANIMACION PARA LA PRIMERA PARTE DEL VECTOR */

@keyframes blink {

    0%, 100% { opacity: 0;}
    50% { opacity: 1;}
}

/*_-------------------------------------------------------------_*/



/* ANIMACION Fondo BLanco */

@keyframes blink2 {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}

/* 1- SECCION ----- PANEL PRINCIPAL - INGRESO */


/* Fondo BLanco */

.seccion1_login {

    background-color: white;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;    

    width: 44%;
    height: 80%;
    
    border-radius: 4vw;

    opacity: 0;

    overflow: auto;

    animation: blink2 1s ease-in-out forwards;
    animation-delay: 3s;
}

/* Imagen del logo */

.seccion1_login img {
    width: 16%;
    height: 16%;
    margin-top: -6%;
    margin-bottom: 1%;
}



/* -- TEXTOS DE LOGIN  ---- */


.seccion1__texto1 {
    margin-top: 1%;

    font-family: MyriadPro-REGULAR;
    font-size: 2vw;

    margin-top: 1%;
    text-align: center;
}


.seccion1__texto2 {
    font-family: MyriadPro-Light;
    font-size: 0.9vw;

    margin-top: -1.9%;
    margin-bottom: 3%;

    color: #707070;
}

/* -- TEXTO DE USUARIO  ---- */

.seccion1__textoU {

    font-family: MyriadPro-Light;
    font-size: 1.1vw;
    font-weight:lighter;

    margin-top: -1%;
    margin-bottom: 5%;
    margin-left: -55%;

    color: #000000b0;
}

/* -- TEXTO DE CONTRASEÑA  ---- */

.seccion1__textoC {

    font-family: MyriadPro-Light;
    font-size: 1.1vw;
    font-weight:lighter;

    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: -55%;

    color: #000000b0;
}

/* -- TEXTO DE PROBLEMAS  ---- */

.seccion1__texto3 {

    font-family: MyriadPro-Light;
    font-size: 0.75vw;
    font-weight:lighter;

}




/* --- BLOQUES DE LOGIN ---- */


/* --- BLOQUE USUARIO ---- */
.seccion1__Usuario input {

    width: 31vw;
    height: 2.31vw;

    border-radius: 1vw;
    border: 0.1vw solid #707070b4;

    margin-top: -6%;
    margin-left: 1%;  
}

/* --- BLOQUES DE CONTRASEÑA ---- */
.seccion1__Contra input{

    width: 31vw;
    height: 2.31vw;

    border-radius: 1vw;
    border: 0.1vw solid #707070b4;

    margin-top: -4%;
    margin-left: 1%;  
    margin-bottom: 2%;
}

/* --- BLOQUES DE INGRESO PANEL ---- */
.seccion1__IngrePanel {

    background-color: rgba(255, 102, 0, 0.911);

    width: 15vw;
    height: 3.4vw;

    border-radius: 2vw;

    margin-top: 5%;
    margin-bottom: 3%;
    cursor: pointer;

}

/* --- BLOQUES DE INGRESO PANEL CONFIGURACION DEL TEXTO ---- */
.seccion1__IngrePanel p {
    color: white;
    text-align: center;
    margin: 1vw;

    font-family: MyriadPro-Light;

}
/* --- ANIMACION BOTON PARA INGRESO ---- */
.seccion1__IngrePanel:hover {

    background-color: rgb(255, 81, 0);
}

/* --- LINK DE INGRESO PANEL DISEÑO ETC ---- */
a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    font-size: 1vw;
}

input:focus {
    border: 0.10vw solid rgb(185, 68, 25); 
    box-shadow: 8px 5px 1px rgba(210, 80, 4, 0.789); 
    outline-width: 0;
}




/*
@media only screen and (max-width: 600px) {
    body{
        width: 100%;
        height: 100%;
    }

}
*/