html , body {
    margin: 0;
    overflow: hidden;
}


/* FUENTES DE LA PAGINA WEB */


@font-face {
    font-family: "MyriadPro-Light";
    src: url(../font/MyriadPro-Light.otf) format(truetype);

}

@font-face {
    font-family: "MyriadPro-REGULAR";
    src: url(../font/MYRIADPRO-REGULAR.OTF) format(truetype);

}


/* FONDOS DE LAS PRIMERAS TRANSICIONES DE LAS PAGINAS 1,2,3,4,6 */

body {
    background: url('../img/fondo.png');
    background-color: black;
    background-repeat: no-repeat;

    background-size: 100% 135%;
    background-position: 60% 32%;

    padding: 0;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;                                                         

    overflow: hidden;
}       

    .vector {
    position: fixed;

    top: 35%;
    left: 40%;
    width: 20vw;
    height: 20vh;

    opacity: 0;
    animation: blink 2s ease-in-out 1 forwards;
    animation-delay: 1.8s;
}



/*_-------------------------------------------------------------_*/

/* ANIMACION DE APARECER Y DESVANECER */


@keyframes blink {

    0%  { opacity: 0;}
    50% { opacity: 1;}
    100% {opacity: 0;}
}


@keyframes blink2 {
    0% { opacity: 0; transform: scale(0.8); }
    70% { opacity: 1; transform: scale(1); }
    80% { opacity: 1; transform: scale(1); }
    90% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.9);}
}                                                          


/* 1- SECCION ----- PANEL PRINCIPAL - INGRESO */


/* Fondo BLanco */

.seccion2_Bienvenido {

    background-color: rgb(255, 255, 255);

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;    

    width: 35%;
    height: 45%;
    
    border-radius: 2rem;

    overflow: auto;

    animation: blink2 2s ease-in-out forwards;
}

/* Imagen del logo */

.seccion2__logo {
    width: 9.5vw;
    height: 7vh;
    margin-top: 0;
}

.seccion2__foto {
    width: 4.1vw;
    height: 8.3vh;
}

/* -- TEXTOS DE BIENVENIDA  ---- */

.seccion2__texto1 {
    margin-top: 1%;

    font-family: "MyriadPro-REGULAR";
    font-size: 1.5rem;

    margin-top: 1%;
    text-align: center;
}

.seccion2__texto2 {
    margin-top: 1%;

    font-family: "MyriadPro-REGULAR";
    font-size: 1.3rem;

    margin-top: 2%;
    text-align: center;
}


.seccion2__texto3 {
    margin-top: 1%;

    font-family: "MyriadPro-REGULAR";
    font-size: 0.8rem;

    margin-top: -2%;
    text-align: center;

    color: #707070;


}


/*_-------------------------------------------------------------_*/

/*_-------------------------------------------------------------_*/

/*_-------------------------------------------------------------_*/



/* 3- SECCION ----- PANEL PRINCIPAL - OPCIONES , AGREGAR REFRESCAR , ELIMINAR , REPORTAR , AYUDA , CONFIGURACION , NOTIFICACION , FOTO , ETC  */


.seccion3_PanelPrincipal {
    position: fixed;

    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex; 
    flex-direction: column;

    border-radius: 1%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}




/* SECION OPCIONES PARTE SUPERIOR */
/*_-------------------------------------------------------------_*/

/* ESPACIO DONDE ESTA LAS OPCIONES <DIV>  */
.seccion3__opciones {

    border-bottom: 1.9px solid #5e5d5d8b;

    position: fixed;

    height: 8%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;

    overflow: hidden;
}


/* IMAGENES DE LAS OPCIONES */

.seccion3__a単adir ,.seccion3__refrescar ,.seccion3__eliminar ,.seccion3__reportar ,.seccion3__ayuda {

    width: 36%;
    height: 36%;
    margin-left: 2%;

}

/*_-------------------------------------------------------------_*/

/* TEXTOS DE LAS OPCIONES */

.seccion3_textoA単adir , .seccion3_textoRefrescar , .seccion3_textoEliminar , .seccion3_textoReportar , .seccion3_textoAyuda {
    font-family: "MyriadPro-REGULAR" ;
    font-size: 1.1vw;
    margin-left: -4.2%;
}

/*_-------------------------------------------------------------_*/

/*  CONFIGURACIONES DE LAS IMAGENES DE LAS OPCIONES */

/* ANIMACIONES PARA EL LOGO */

    @keyframes --turn {
        0% {transform: scaleX(1);} 100% {transform: scaleX(-1);}
    }

    @keyframes --turnBack {
        0% {transform: scaleX(-1);} 100% {transform: scaleX(1);}
    }

.seccion3__logo {
    margin-left: 15%;
    height: 2vw;
    animation: --turn .3s forwards;
}

.seccion3__logo:hover {
    animation: --turnBack .3s forwards;
}



/* APARTADO DE REPORTAR */

.seccion3__reportar {
    margin-left: 10%;
}

/* configuracion notificaciones y foto */

.seccion3__configuracion {
    margin-left: 5%;
}

.seccion3__notificacion {
    margin-left: -0.5%;
}

.seccion3__configuracion , .seccion3__notificacion {
    width: 10%;
    height: 28%;
}

.seccion3__foto {
    width: 10%;
    height: 80%;

    margin-left: 0.5%;
    margin-right: 4%;
}





/*_-------------------------------------------------------------_*/


.seccion3__segundacapa__PanelIndicadores {
    margin-top: 4.5%;

    width: 103vw;

    display: flex;
    position: relative;

    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: baseline;

    overflow: auto;

}

.seccion3__segundacapa__texto1 {

    margin-top: 0.5%;

    font-family: "MyriadPro-REGULAR" ;
    font-size: 1.7vw;
    letter-spacing: 0.1%;
}

.seccion3__segundacapa__texto2 {
    font-family: "MyriadPro-Light" ;
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.736);
    margin-top: -0.5%;
}



.seccion3__segundacapa__informacionPanel {

    display: flex;
    justify-content: space-evenly;

    position: relative;
    top: 2vh;
    left: -5vw;
    width: 101vw;
    
}

.seccion3__segundacapa__informacionPanel p {
    font-family: "MyriadPro-REGULAR" ;
    font-size: 1vw;
    
}


.seccion3__segundacapa__FechadeInicio , .seccion3__segundacapa__FechadeTerminaci , .seccion3__segundacapa__Formula , .seccion3__segundacapa__Frecuenci , .seccion3__segundacapa__Cumplimiento {
    margin-left: -11vw;
} 

.seccion3__segundacapa__indicador {
    margin-left: 3vw;
}

.seccion3__segundacapa__Descripcion {
    margin-left: -6vw;
}

.seccion3__segundacapa__Categoria {
    margin-left: -9vw;
    margin-right: 2.4vw;
}

.seccion3__segundacapa__Area {
    margin-left: -9vw;
}


.cajas {
    margin-left: 4vw;
}


/*  CAJA ITEMS PARA LAS ESTAS DE OS EJEMPLOS */


.seccion3__segundacapa__cajaitems {
    
    width: 80vw;
    height: 8vh;
    

    border-radius: 1.5vw;
    border: 0.1vw solid black;

    display: flex;
    align-items: center;
    text-align: center;

    display: grid;
    grid-template-columns: 0.16fr 0.10fr 0.13fr 0.09fr 0.14fr 0.07fr 0.09fr 0.1fr 0.1fr;
    
    overflow: hidden;
}


.seccion3__segundacapa__cajaitems1 {    
  
    width: 80vw;
    height: 8vh;

    border-radius: 1.5vw;
    border: 0.1vw solid black;

    display: flex;
    align-items: center;
    text-align: center;

    display: grid;
    grid-template-columns: 0.16fr 0.10fr 0.13fr 0.09fr 0.14fr 0.07fr 0.09fr 0.1fr 0.1fr;
    
    overflow: hidden;
}



.seccion3__segundacapa__cajaitems2 {

    width: 80vw;
    height: 8vh;
    
    border-radius: 1.5vw;
    border: 0.1vw solid black;

    display: flex;
    align-items: center;
    text-align: center;

    display: grid;
    grid-template-columns: 0.16fr 0.10fr 0.13fr 0.09fr 0.14fr 0.07fr 0.09fr 0.1fr 0.1fr;
    
    overflow: hidden;

}

.seccion3__segundacapa__cajaitems3 {
      
    width: 80vw;
    height: 8vh;

    border-radius: 1.5vw;
    border: 0.1vw solid black;

    display: flex;
    align-items: center;
    text-align: center;

    display: grid;
    grid-template-columns: 0.16fr 0.10fr 0.13fr 0.09fr 0.14fr 0.07fr 0.09fr 0.1fr 0.1fr;
    
    overflow: hidden;

}




.seccion3__segundacapa__cajaitems4 {
    width: 80vw;
    height: 8vh;

    border-radius: 1.5vw;
    border: 0.1vw solid black;

    display: flex;
    align-items: center;
    text-align: center;

    display: grid;
    grid-template-columns: 0.16fr 0.10fr 0.13fr 0.09fr 0.14fr 0.07fr 0.09fr 0.1fr 0.1fr;
    
    overflow: hidden;

}

.seccion3__segundacapa__cajaitems5 {
    width: 80vw;
    height: 8vh;

    border-radius: 1.5vw;
    border: 0.1vw solid black;

    display: flex;
    align-items: center;
    text-align: center;

    display: grid;
    grid-template-columns: 0.16fr 0.10fr 0.13fr 0.09fr 0.14fr 0.07fr 0.09fr 0.1fr 0.1fr;
    
    overflow: hidden;

}



.item {
    font-family: "MyriadPro-Light";
    font-size: 1vw;
}

.seccion3__segundacapa__contenedorcaja , .seccion3__segundacapa__contenedorcaja2  , .seccion3__segundacapa__contenedorcaja3 , .seccion3__segundacapa__contenedorcaja4 , .seccion3__segundacapa__contenedorcaja5 , .seccion3__segundacapa__contenedorcaja6 {
    display: flex;

    width: 90vw;
    height: 8vh;
    margin-top: 2.5vh;
    

}




.seccion3__segundacapa__cajadelafranjanegra2 {

    width: 3.1vw;
    height: 3.8vw;
    margin-left: 1vw;
    
    gap: 0.5vw;

    justify-content: center;
    flex-direction: column;

    display: flex;

}






.seccion3__segundacapa__franjanegra1 {
    background-color: black;

    width: 3.1vw;
    height: 0.44vw;

    border-radius: 1vw;
}

.seccion3__segundacapa__franjanegra2 {
    background-color: black;
    
    width: 3.1vw;
    height: 0.42vw;

    border-radius: 1vw;
}

.seccion3__segundacapa__franjanegra3 {
    background-color: black;

    width: 3.1vw;
    height: 0.43vw;

    border-radius: 1vw;
}





.seccion3__segundacapa__Button {
    background-color: rgba(255, 102, 0, 0.911);

    position: relative;
    left: -3.8vw;

    width: 15vw;
    height: 3.4vw;

    margin: 5vh;
    border-radius: 2vw;
    margin-bottom: 2vw;
    cursor: pointer;
}

.seccion3__segundacapa__Button p {
    color: white;
    text-align: center;
    margin: 1vw;

    font-family: MyriadPro-Light;

}

.seccion3__segundacapa__Button:hover {

    background-color: rgb(255, 81, 0);
}


a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    font-size: 1vw;
}




/* PORCENTAJE */
@keyframes rellenar {
    to {
        stroke-dasharray: var(--porcentaje) 100;
    }
    
}


circle {
    fill: none;
    stroke: rgba(255, 0, 0, 0.895);

    stroke-width: 5;
    stroke-dasharray: 0 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-linecap: round;

    animation: rellenar .40s linear forwards ;
}



.porcentajes {
    position: relative;
}

.porcentajes span {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.67rem;
    font-family: "MyriadPro-Light";

}



.circlebuenos {
    fill: none;
    stroke: rgba(0, 255, 26, 0.679);

    stroke-width: 5;
    stroke-dasharray: 0 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-linecap: round;

    animation: rellenar .40s linear forwards ;
}


.circlemediano {
    fill: none;
    stroke: rgb(245, 188, 0);

    stroke-width: 5;
    stroke-dasharray: 0 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-linecap: round;

    animation: rellenar .40s linear forwards ;
}
.seccion3__textlog_cel{
    display: none;
}
.seccion3__busqueda{
    display: none;
}


@media only screen and (max-width: 430px) {
    body {
        background: url('../img/fondotelefono.svg');
        background-color: black;
        background-repeat: no-repeat;
    
        background-size: 430px 932px;
        background-position: 60% 32%;
    
        padding: 0;
        margin: 0;
        
        display: flex;
        align-items: center;
        justify-content: center;
    
        overflow: hidden;
    }
    .seccion2_Bienvenido {

        background-color: white;
    
        display: flex;
    
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        position: relative;    
    
        width: 85% ;
        height: 50% ;
        
        border-radius: 2rem;
    
        overflow: auto;
    
        animation: blink2 2s ease-in-out forwards;
    }
    .seccion2__foto {
        width: 15%;
        height: 9vh;
    }
    .seccion3__opciones {

        border-bottom: 1.9px solid #5e5d5d8b;
    
        position: fixed;
    
        height: 43px;
        width: 100%;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center;
    
        overflow: hidden;
    }
    .seccion3__a単adir ,.seccion3__refrescar ,.seccion3__eliminar ,.seccion3__reportar ,.seccion3__ayuda {

        width: 0%;
        height: 0%;
        margin-left: 4%;
    
    }
    .seccion3_textoA単adir , .seccion3_textoRefrescar , .seccion3_textoEliminar , .seccion3_textoReportar , .seccion3_textoAyuda {
        font-family: "MyriadPro-REGULAR" ;
        font-size: 0vw;
        margin-left: -4.2%;
    }

    .seccion3__segundacapa__PanelIndicadores {
        margin-top: 15%;
    
        width: 103vw;
    
        display: flex;
        position: relative;
    
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: baseline;
    
        overflow: auto;
    
    }
    .seccion3__configuracion {
        margin-left: 5%;
    }
    
    .seccion3__notificacion {
        margin-left: -0.5%;
    }
    
    .seccion3__configuracion , .seccion3__notificacion {
        width: 0%;
        height: 0%;
    }
    
    .seccion3__foto {
        width: 0%;
        height: 0%;
    
        margin-left: 0%;
        margin-right: 0%;
    }

    .seccion3__logo {
        margin-left: 4%;
        height: 3vh;
        animation: --turn .3s forwards;
        opacity: 70%;
    }
    .seccion3__textlog_cel{
        display: flex;
        font-family: "MyriadPro-REGULAR" ;
        font-size: 4vw;
        margin-left: 1%;
    }
    .seccion3__busqueda{
        display: flex;
        margin-left: 50%;  
    }
    .seccion3__segundacapa__franjanegra2 {
        background-color: rgb(0, 0, 0);
        top: 4px;
        width: 3.1vw;
        height: 0.42vw;
    
        border-radius: 1vw;
    }



  }






.seccion3__segundacapa__cajadelafranjanegra2 {

    width: 2vw;
    height: 0.22vh;
    margin-left: 1vw;
    margin-top: 1vw;
    gap: 0.5vw;

    justify-content: center;
    flex-direction: column;

    display: flex;

}






.seccion3__segundacapa__franjanegrat1 {
    background-color: black;

    width: 3.1vw;
    height: 0.24vh;
    margin-top: 1vh;
    border-radius: 1vw;
}

.seccion3__segundacapa__franjanegrat2 {
    background-color: black;
    margin-top: 0.5vh;
    width: 3.1vw;
    height: 0.22vh;

    border-radius: 1vw;
}

.segundacapa__franjanegrat3 {
    background-color: black;
    margin-top: 1vh;
    width: 3.1vw;
    height: 0.23vh;

    border-radius: 0.51vw;
}

